@{
    Layout = "_Layout2";
}
<div class="col-md-3">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="BookLoans" asp-action="GetBookLoans">Hämta alla aktiva boklån</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="BookLoans" asp-action="GetBookLoansCustomer">Se boklån för en specifik kund</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="BookLoans" asp-action="CreateBookLoan">Gör ett nytt boklån</a>
        </li>
    </ul>
</div>

